In [ ]:
import pandas as pd
df = pd.read_csv("students_dataset.csv") # Replace with your file name
print(df)

       Name   Age  Marks  Attendance Passed
0     Alice  20.0   85.0        90.0    Yes
1       Bob  21.0    NaN        80.0     No
2   Charlie   NaN   78.0         NaN    Yes
3     David  22.0   90.0        85.0    Yes
4       Eve  20.0   88.0        95.0     No
5     Frank   NaN   76.0        70.0    Yes
6     Grace  23.0    NaN        88.0     No
7      Hank  21.0   80.0         NaN    Yes
8       Ivy  24.0   92.0        92.0    Yes
9      Jack   NaN   79.0        85.0     No
10    Kelly  22.0    NaN        78.0    Yes
11      Leo  23.0   87.0         NaN    Yes
12     Mona  21.0   83.0        80.0     No
13     Nina   NaN   77.0        89.0    Yes
14    Oscar  25.0    NaN        91.0     No
15     Paul  22.0   81.0         NaN    Yes

In [ ]:
print(df.isnull().sum())

Name          0
Age           4
Marks         4
Attendance    4
Passed        0
dtype: int64

In [ ]:
df_cleaned = df.dropna() # Removes rows with missing values
print(df_cleaned)

     Name   Age  Marks  Attendance Passed
0   Alice  20.0   85.0        90.0    Yes
3   David  22.0   90.0        85.0    Yes
4     Eve  20.0   88.0        95.0     No
8     Ivy  24.0   92.0        92.0    Yes
12   Mona  21.0   83.0        80.0     No

In [ ]:
df["Age"].fillna(df["Age"].mean(), inplace=True)
df["Marks"].fillna(df["Marks"].median(), inplace=True)
df["Attendance"].fillna(df["Attendance"].mean(),
inplace=True)
print(df)

       Name   Age  Marks  Attendance Passed
0     Alice  20.0   85.0       90.00    Yes
1       Bob  21.0   82.0       80.00     No
2   Charlie  22.0   78.0       85.25    Yes
3     David  22.0   90.0       85.00    Yes
4       Eve  20.0   88.0       95.00     No
5     Frank  22.0   76.0       70.00    Yes
6     Grace  23.0   82.0       88.00     No
7      Hank  21.0   80.0       85.25    Yes
8       Ivy  24.0   92.0       92.00    Yes
9      Jack  22.0   79.0       85.00     No
10    Kelly  22.0   82.0       78.00    Yes
11      Leo  23.0   87.0       85.25    Yes
12     Mona  21.0   83.0       80.00     No
13     Nina  22.0   77.0       89.00    Yes
14    Oscar  25.0   82.0       91.00     No
15     Paul  22.0   81.0       85.25    Yes

<ipython-input-5-d05a90828a80>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(), inplace=True)
<ipython-input-5-d05a90828a80>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Marks"].fillna(df["Marks"].median(), inplace=True)
<ipython-input-5-d05a90828a80>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Attendance"].fillna(df["Attendance"].mean(),

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_scaled = df.copy()
df_scaled[["Marks", "Attendance"]] = scaler.fit_transform(df[["Marks", "Attendance"]])
print(df_scaled)

       Name   Age     Marks  Attendance Passed
0     Alice  20.0  0.505490    0.804154    Yes
1       Bob  21.0 -0.168497   -0.888802     No
2   Charlie  22.0 -1.067146    0.000000    Yes
3     David  22.0  1.628802   -0.042324    Yes
4       Eve  20.0  1.179478    1.650632     No
5     Frank  22.0 -1.516471   -2.581758    Yes
6     Grace  23.0 -0.168497    0.465563     No
7      Hank  21.0 -0.617822    0.000000    Yes
8       Ivy  24.0  2.078127    1.142745    Yes
9      Jack  22.0 -0.842484   -0.042324     No
10    Kelly  22.0 -0.168497   -1.227393    Yes
11      Leo  23.0  0.954815    0.000000    Yes
12     Mona  21.0  0.056166   -0.888802     No
13     Nina  22.0 -1.291809    0.634858    Yes
14    Oscar  25.0 -0.168497    0.973450     No
15     Paul  22.0 -0.393159    0.000000    Yes

In [ ]:
df_encoded = pd.get_dummies(df, columns=["Passed"],
drop_first=True)
print(df_encoded)

       Name   Age  Marks  Attendance  Passed_Yes
0     Alice  20.0   85.0       90.00        True
1       Bob  21.0   82.0       80.00       False
2   Charlie  22.0   78.0       85.25        True
3     David  22.0   90.0       85.00        True
4       Eve  20.0   88.0       95.00       False
5     Frank  22.0   76.0       70.00        True
6     Grace  23.0   82.0       88.00       False
7      Hank  21.0   80.0       85.25        True
8       Ivy  24.0   92.0       92.00        True
9      Jack  22.0   79.0       85.00       False
10    Kelly  22.0   82.0       78.00        True
11      Leo  23.0   87.0       85.25        True
12     Mona  21.0   83.0       80.00       False
13     Nina  22.0   77.0       89.00        True
14    Oscar  25.0   82.0       91.00       False
15     Paul  22.0   81.0       85.25        True

In [ ]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df["Passed"] = encoder.fit_transform(df["Passed"])
print(df)

       Name   Age  Marks  Attendance  Passed
0     Alice  20.0   85.0       90.00       1
1       Bob  21.0   82.0       80.00       0
2   Charlie  22.0   78.0       85.25       1
3     David  22.0   90.0       85.00       1
4       Eve  20.0   88.0       95.00       0
5     Frank  22.0   76.0       70.00       1
6     Grace  23.0   82.0       88.00       0
7      Hank  21.0   80.0       85.25       1
8       Ivy  24.0   92.0       92.00       1
9      Jack  22.0   79.0       85.00       0
10    Kelly  22.0   82.0       78.00       1
11      Leo  23.0   87.0       85.25       1
12     Mona  21.0   83.0       80.00       0
13     Nina  22.0   77.0       89.00       1
14    Oscar  25.0   82.0       91.00       0
15     Paul  22.0   81.0       85.25       1

In [ ]:
df["Age_Group"] = pd.cut(df["Age"], bins=[18, 21, 24],
labels=["Young", "Adult"])
print(df)

       Name   Age  Marks  Attendance  Passed Age_Group
0     Alice  20.0   85.0       90.00       1     Young
1       Bob  21.0   82.0       80.00       0     Young
2   Charlie  22.0   78.0       85.25       1     Adult
3     David  22.0   90.0       85.00       1     Adult
4       Eve  20.0   88.0       95.00       0     Young
5     Frank  22.0   76.0       70.00       1     Adult
6     Grace  23.0   82.0       88.00       0     Adult
7      Hank  21.0   80.0       85.25       1     Young
8       Ivy  24.0   92.0       92.00       1     Adult
9      Jack  22.0   79.0       85.00       0     Adult
10    Kelly  22.0   82.0       78.00       1     Adult
11      Leo  23.0   87.0       85.25       1     Adult
12     Mona  21.0   83.0       80.00       0     Young
13     Nina  22.0   77.0       89.00       1     Adult
14    Oscar  25.0   82.0       91.00       0       NaN
15     Paul  22.0   81.0       85.25       1     Adult

In [ ]:
def performance_category(marks):
  if marks >= 85:
    return "High"
  elif marks >= 70:
     return "Medium"
  else:
    return "Low"

df["Performance"] = df["Marks"].apply(performance_category)
print(df)

       Name   Age  Marks  Attendance  Passed Age_Group Performance
0     Alice  20.0   85.0       90.00       1     Young        High
1       Bob  21.0   82.0       80.00       0     Young      Medium
2   Charlie  22.0   78.0       85.25       1     Adult      Medium
3     David  22.0   90.0       85.00       1     Adult        High
4       Eve  20.0   88.0       95.00       0     Young        High
5     Frank  22.0   76.0       70.00       1     Adult      Medium
6     Grace  23.0   82.0       88.00       0     Adult      Medium
7      Hank  21.0   80.0       85.25       1     Young      Medium
8       Ivy  24.0   92.0       92.00       1     Adult        High
9      Jack  22.0   79.0       85.00       0     Adult      Medium
10    Kelly  22.0   82.0       78.00       1     Adult      Medium
11      Leo  23.0   87.0       85.25       1     Adult        High
12     Mona  21.0   83.0       80.00       0     Young      Medium
13     Nina  22.0   77.0       89.00       1     Adult      Medium
14    Oscar  25.0   82.0       91.00       0       NaN      Medium
15     Paul  22.0   81.0       85.25       1     Adult      Medium